
.container.weather {
    width: 30rem;
    height: 10rem;
    padding: 0.5rem;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 #a67171;
}

.city {
    font-family: Georgia, monospace;
    color: whitesmoke;
    display: block;
    text-align: left;
    padding-left: 0.6rem;
    margin: 0;
}

.date {
    font-family: Georgia, monospace;
    color: whitesmoke;
    display: block;
    text-align: left;
    padding-left: 0.6rem;
    margin: 0;
}
.info {
    display: inline-block;
    /*padding: 1rem 1rem;*/
    width: 9rem;
    margin: 0;
    float: left;

}
.left {
    float: left;
    padding: 1rem 1rem;
    width: 5rem;
}

.textWeather { color: white; font-family: Georgia, monospace; margin: 1rem 1rem }

.Temp { color: white; font-family: Georgia, monospace; font-size: 3rem }

.right {
    float: right;
    padding: 0.5rem;
    width: 6rem;
    margin: 0 0.5rem;
}