.container {
    width: 30em;
    height: 10em;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 1px 2px 11px 0px #a67171;
}

.title {
    text-align: center;
    font-family: Georgia, monospace;
    color: #ffe0e0;
}

.left {
    float: left;
    padding: 10px;
}

.city { color: white }

.Temp { color: white }

.right {
    float: right;
    padding: 10px;
    width: 80px;
}